extends ../_layout

block app-title
    | Media List

block content
    h1 Awesome Sources    
    
    each source in result
        div.col-sm-6.col-md-4
            div.thumbnail
                a(href= source.url)
                    img.img-responsive(src= source.urlsToLogos.small alt="source-logo")
                    

