extends ../_layout

block app-title
    | Select Favourite Media

block content

    div.col-lg-8
         h2 Select your favourite media to receive the latest news from them
     
         div.col-lg-6
             div.panel.panel-default
                 ul.list-group
             
//-              each media in result
                     li.list-group-item
                         div.checkbox
                             img(src="#", alt="media-logo")
                             label
                               input(type="checkbox")
                                 | Media Name
                             
                             
             a.btn.btn-success(href="#")
                 | Save