extends ../_layout

block app-title 
    | Unauthorized 

block content

    div.panel.panel-default
        h2 We are sorry, but you are not authorised to login.
            | Please, try again to login in with your name and password.

        a.btn.btn-warning(href="/user/login")
            | Login

        h2 Or register to receive awesome news every day

        a.btn.btn-warning(href="/user/register")
            | Register
