extends ../_layout

block app-title
    | #{result.name} Profile 

block content
    h1 Hello, #{result.name}! 
        | It's nice to see you back! We were exprecting you.

    div.panel.panel-default
        