extends ../_layout

block app-title
    | #{result.username} Profile 

block content
    h2 Hello, #{result.username}! 
        | It's nice to see you back! We were exprecting you.

    div.panel.panel-default
        a.btn.btn-default(href="/user/favourites")
            | View Favourite Articles 
        br
        a.btn.btn-default(href="/user/select-media")
            | Select Media
        br
        a.btn.btn-default(href="/user/select-media")
            | Select Media by Country
        