<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Home Page
    link(rel="stylesheet", href="/static/bower_components/bootstrap/dist/css/bootstrap.css")

body
    a.btn.btn-success(href="#") Click
    #content
        block content