<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title 
        block app-title
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="/static/bower_components/toastr/toastr.js")
    link(rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="https://bootswatch.com/readable/bootstrap.min.css")
    link(rel="stylesheet", href="/static/styles/main.css")
    link(rel="stylesheet", href="/static/bower_components/toastr/toastr.css")

body
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                button.navbar-toggle.collapsed(type="button"  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                    span.sr-only
                        | Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/home")
                    | Awesome News System 3000

        div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
            ul.nav.navbar-nav
                li.active
                    a(href="/home")
                        | Latest Awesome News
                        span.sr-only
                            | (current)
                li
                    a(href="/about")
                        | About
                li
                    a(href="/sources/list")
                        | Sources
                

            form.navbar-form.navbar-left(role="search" action="/search")
                div.form-group
                input(type="text" class="form-control" placeholder="Search" name="search")
                button.btn.btn-default(type="submit")
                    | Submit

            ul.nav.navbar-nav.navbar-right
                if user
                    li
                        a(href="/user/profile")
                            = user.username
                    li.dropdown
                        a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false")
                                span.glyphicon.glyphicon-menu-hamburger
                                    span.glyphicon-class
                    
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="/user/profile")
                                    | My Profile
                            li
                                a(href="/sources/select-media")
                                    | Select Media
                            li
                                a(href="/user/favourites")
                                    | View Favourite Articles

                            li.divider
                            
                            li
                                a(href="/user/logout")
                                    | Logout
                else
                    li
                        a(href="/user/login")
                            | Login
                    li
                        a(href="/user/register")
                            | Register

    
    #content
        block content

    footer#footer
        div.row
            div.col-lg-12
                p Telerik Academy Project 