extends _layout

block app-title
    | About Awesome News 3000

block content 
    h1 About Awesome News 3000 
    
    div.col-lg-6
        div.list-group
            div.list-group-item
                h4.list-group-item-heading
                    | Team Members
                p.list-group-item-text
                    a(href="#")
                        | Name
                    br
                    a(href="#")
                        | Name
                    br
                    a(href="#")
                        | Name
                    br
                    a(href="#")
                        | Name
            a.list-group-item(href="https://telerikacademy.com/")
                h4.list-group-item-heading
                    | A project for Telerik Academy
            a.list-group-item(href="https://github.com/DimitarDKirov/News-System")
                h4.list-group-item-heading
                    | See more on Github 
            a.list-group-item(href="https://newsapi.org/")
                h4.list-group-item-heading
                    | Special thanks to
                p.list-group-item-text
                    | News Api

            a.list-group-item(href="#")
                h4.list-group-item-heading
                    | Contact Us
                p.list-group-item-text
                    | awesomenews3000@gmail.com
