extends _layout

block app-title
    | About Awesome News 3000

block content 
    h2 About Awesome News 3000 
        h4 
            | The news you want to know

    div.col-lg-6
        div.list-group
            div.list-group-item
                h4.list-group-item-heading
                    | Team Members
                p.list-group-item-text
                    a(href="https://telerikacademy.com/Users/Jeriko")
                        | Bojidar Boevski
                    br
                    a(href="https://telerikacademy.com/Users/mojojojo")
                        | Martin Yordanov
                    br
                    a(href="https://telerikacademy.com/Users/dimkirov")
                        | Dimitar Kirov
                    br
                    a(href="https://telerikacademy.com/Users/Milenkata")
                        | Milena Stancheva
            a.list-group-item(href="https://telerikacademy.com/")
                h4.list-group-item-heading
                    | A project for Telerik Academy
            a.list-group-item(href="https://github.com/DimitarDKirov/News-System")
                h4.list-group-item-heading
                    | See more on Github 
            a.list-group-item(href="https://newsapi.org/")
                h4.list-group-item-heading
                    | Special thanks to
                p.list-group-item-text
                    | News Api

            a.list-group-item(href="#")
                h4.list-group-item-heading
                    | Contact Us
                p.list-group-item-text
                    | awesomenews3000@gmail.com

    div.col-lg-6
        img.awesomeLogo(src="/static/images/awesomeNewsLogo.png", alt="awesome-logo" width="150px")
    
    br
    div.col-lg-4
        p 
            | We are here to let you choose the information you want to receive. With Awesome News 3000 you will be up to date with the latest news from around the world. Just sign up and select the media you want to follow. No adds, just free information. 
    
    
