extends simple-article-list

block media-list
    div.col-lg-4
        div.panel.panel-default.panel-right
            a.source(href="/user/select-media")                           
                div#logo-abc(title="ABC News (AU)")  

            a.source(href="/user/select-media")
               div#logo(style={background-image:url("http://i.newsapi.org/ars-technica-m.png")} title="Ars Technica")
           
            a.source(href="/user/select-media")
               div.logo(style={background-image:url("http://i.newsapi.org/associated-press-m.png")} title="Associated Press")

            a.source(href="/user/select-media")
               div.logo(style={background-image:url("http://i.newsapi.org/bbc-news-m.png")} title="BBC News")                           
           
            a.source(href="/user/select-media")
               div.logo(style={background-image:url("http://i.newsapi.org/bbc-sport-m.png")} title="BBC Sport")          
           
            a.source(href="/user/select-media")
               div.logo(style={background-image:url("http://i.newsapi.org/bild-m.png")} title="Bild")                        

            a.source(href="/user/select-media")
               div.logo(style={background-image:url("http://i.newsapi.org/bloomberg-m.png")} title="Bloomberg")

            a.source(href="/user/select-media")
               div.logo(style={background-image:url("http://i.newsapi.org/business-insider-m.png")} title="Business Insider")
           
            a.source(href="/user/select-media")
               div.logo(style={background-image:url("http://i.newsapi.org/business-insider-uk-m.png")} title="Business Insider (UK)")
           
            a.source(href="/user/select-media")
               div.logo(style={background-image:url("http://i.newsapi.org/buzzfeed-m.png")} title="Buzzfeed")

            a.source(href="/user/select-media")
               div.logo(style={background-image:url("ttp://i.newsapi.org/cnbc-m.png")} title="CNBC")

            a.source(href="/user/select-media")
               div.logo(style={background-image:url("http://i.newsapi.org/cnn-m.png")} title="CNN")           