extends simple-article-list

block pagination
    a#nextPage.btn.btn-default(href='/#') Show more
    
    script(src="/static/scripts/pageManager.js")
    //- form.navbar-form.navbar-left(role="search" action="/home")
    //-     div.form-group
    //-     label(for="page") Total Pages: #{result.totalPages}
    //-     input(type="text" class="form-control" placeholder="Input page number" name="page")
    //-     button.btn.btn-default(type="submit")
    //-         | Go to page