extends ../_layout

block app-title
    | Awesome News Home

block content
    h1 Latest Awesome News
    div.col-lg-6
        div#articles(page="1")
            include simple-articles.pug
   
        #pagination
            block pagination

    #mediaList
        block media-list